<h1>Sortable items</h1>
<div ng-controller="sortableController" class="section row">
  <div class="col-sm-offset-2 col-sm-4">
    <ul class="actor-name" dnd-sortable-container [sortableData]="actorNames">
      <span *ngIf="id != null">
        <span *ngIf="response != null">
          <li *ngFor="let actor of response.name; let i = index" class="actorName" dnd-sortable [sortableIndex]="i">
            <div>
              <p>Name(s): {{actor}}</p>
              <app-actor-name></app-actor-name>
            </div>
          </li>
        </span>
      </span>   
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="actor-pic">
      <li *ngFor="let pic of actorPics" class="actor-pic">
        <app-actor-image></app-actor-image> 
      </li>  
    </ul>
  </div>
</div>