<h1>Sortable items</h1>
<div ng-controller="sortableController" class="section row">
  <div class="col-sm-offset-2 col-sm-4">
    <span *ngIf="id != null">
      <ul class="actor-name" dnd-sortable-container [sortableData]="response">
        <li *ngFor="let actor of response | slice:0:5; let i = index" class="actorName" dnd-sortable [sortableIndex]="i">          
          <p>{{actor.name}}</p>
          <app-actor-name></app-actor-name>
        </li>
      </ul>
    </span>   
  </div>
  <div class="col-sm-4">
    <ul class="actor-pic">
      <li *ngFor="let pic of actorPics" class="actor-pic">
        <app-actor-image></app-actor-image> 
      </li>  
    </ul>
  </div>
</div>