<h1>Sortable items</h1>
<div class="submitButton">
  <button mat-raised-button>Submit</button>
</div>
<div ng-controller="sortableController" class="section row">
  <div class="col-sm">
    <span *ngIf="id != null">
      <ul class="actor-name" dnd-sortable-container [sortableData]="actorNames">
        <li *ngFor="let actor of actorNames | slice:0:5; let i = index" class="listItem" dnd-sortable [sortableIndex]="i">          
          <p>{{actor}}</p>
          <app-actor-name></app-actor-name>
        </li>
      </ul>
    </span>   
  </div> 
  <div class="col-sm">
    <span *ngIf="id != null">
      <ul class="actor-pic">
        <li *ngFor="let actor of actorIds | slice:0:5" class="listItem">
          <div *ngIf="actor">
            <app-actor-image [actorId] = "actor"></app-actor-image>
          </div>
        </li>  
      </ul>
    </span>
  </div>
</div>